body {
  font-size: 16px;
  color: #000;
}



/** extra css test ecosse **/
h2 {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: #000;
}
h2:before, h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h2:after {
  margin: 0 -55% 0 .5em;
}


.status {
  padding: 0px 40px;
  /*display: flex;*/
  justify-content: center;
  border-bottom: 1px solid #9c9c9c;
  position: relative;
}

.status:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #9c9c9c;
  border-radius: 25px;
  position: absolute;
  bottom: -8px;
  left: 42%;
}


li.active>.status:before, li>.status:hover:before  {
  background-color: red;
}

.nav-tabs>li.active>div.status>a, .nav-tabs>li>div.status>a:hover{
	color: red;
	text-decoration: none;
}

.nav-tabs li a {
	display: inline-block;
	margin-bottom: 15px;
	color: #9c9c9c;
}

.nav-tabs.custom {
	margin: auto;
	display: table;
}


/** HEADER **/
#header-wrapper {
	background-color: #2d5271; 
	border: 0;
	border-radius: 0;
}

.navbar-brand h1 {
	color: #fff;
	font-size: 1.5em; 
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.8em;
	padding-left: 35px;
}

a.navbar-brand:hover, a.navbar-brand:focus {
	text-decoration: none;
}


/**** button styling ****/
.navbar-header button.navbar-toggle {
	border: 2px solid #fff;
}

.navbar-header .icon-bar {
	border: 1px solid #fff;
}

.navbar-header button.navbar-toggle {
	margin-top: 10px; 
	margin-bottom: 10px;
}

/**** nav ****/
#menu-list a {
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

#menu-list a span {
	vertical-align: middle;
	margin-left: 4px;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 1.3em;
}

#menu-list a:hover {
	background: #907951; /*#64795d*/
}

#menu-list img { 
		height: 24px;
}

/** END HEADER **/


/** FOOTER **/
footer {
	font-size: 0.8em;
	color: #767676;
	padding-bottom: 15px;
	margin-top: 5px;
}
/** END FOOTER **/



/** HOME PAGE - MAIN CONTENT **/
h2 {
	margin-top: 0px;
	margin-bottom: 25px;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 1.85em;
	font-weight: bold;
}

.menu-content {
	background-color: #f9f9f9;
}

.menu-content.home {
	margin: 0 5px;
}

.menu-content img { 
	height: 20px;
	vertical-align: baseline;
}

.col-md-4:nth-child(3) img, .col-sm-6:nth-child(3) img, .col-xs-12:nth-child(3) img { 
	vertical-align: bottom;
}

.menu-content h3 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 15px;
	padding-top: 20px;
}

.menu-content p {
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 25px;
	font-size: .9em;
	line-height: 1.8;
	text-align: justify;
}

.menu-content a {
	text-decoration: underline;
}

.menu-content a:hover {
	color: red;
}

#main-content hr {
	width: 15%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bonus a {
	font-size: .7em;
	text-decoration: none;
	color: #8a6d3b;
	text-transform: uppercase;
	font-weight: 500;
}

.bonus a:hover {
	color: red;
}
/** END HOME PAGE - MAIN CONTENT **/


/** MEDIA QUERIES **/
/*******+++ Large devices **********/
@media (min-width: 1200px) {
	#main-content {
		padding: 0 30px;
	}

}

/*******+++ Medium devices *********/
@media (min-width: 992px) and (max-width: 1199px) {
	#main-content {
		padding: 0 30px;
	}
	#main-content hr, footer hr{
		width: 20%;
	}
}

/*******+++ Small devices **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-6 {
		margin-bottom: 20px;
	}
	#main-content hr, footer hr{
		width: 25%;
	}
}

/******+ Extra small devices *******/
@media (max-width: 767px) {
	.navbar-brand h1 {
		padding-top: 2.5px;
		padding-left: 0px;
	}
	#item-menu {
		background-color: #49647b;
	}
	#main-content hr, footer hr{
		width: 30%;
	}
	.col-sm-6 {
		margin-bottom: 10px;
	}
}


